/* About us page */

.about-page-intro-section{
      background-color: var(--primary-green); 
      color: white;
    }

.about-page-second-sections{
  background-color: var(--light-green);
  color: var(--text-dark);
  border-bottom: 2px solid var(--accent-orange)
}

.about-page-goals-section{
    background-color: var(--primary-green);
  color: white; 
  
}

.goal-item {
  font-size: 0.95rem;
  min-width: 250px;
  text-align: center;
  height: 100px;
  border: 3px solid var(--accent-orange);
}

.circular-img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
}

/* Service page */

.service-page-intro-section{
      background-color: var(--primary-green); 
      color: white;
    }

.service-page-second-sections{
  background-color: var(--light-green);
  color: var(--text-dark);
  border-bottom: 2px solid var(--accent-orange)
}

.service-page-services-section-img{
border-radius: 50%; 
border: 2px solid #e3712e; 
height: 400px; 
width: 400px;
background-color: var(--primary-green);

}

.choose-card {
  background-color: var(--primary-green);
  border: 2px solid #e66921;
  transition: transform 0.3s ease;
  color: white;
}

.choose-card:hover {
  transform: scale(1.03);
  border-color: #ee6516;
}

/* contact page */
.contact-page-intro-section{
      background-color: var(--primary-green); 
      color: white;
    }

.contact-form-page-section {
  background-color: var(--light-green);
  color: var(--text-dark);
}

.contact-form-page-section input,
.contact-form-page-section textarea {
  border-radius: 8px;
  border: 1px solid var(--accent-orange);
  background-color: var(--primary-green);
  color: white;
}

.form-control::placeholder {
  color: white;
  opacity: 1; 
}

.contact-form-page-section .btn-primary {
  background-color: #e66921;
  border: none;
  padding: 10px 25px;
  font-weight: bold;
}

.contact-form-page-section .btn-primary:hover {
  background-color: #c8561a;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22' /%3E%3C/svg%3E");
}