:root {
  --black: black;
  --primary-green: #07362d;
  --creamy: #f0e2ca;
  --off-white:#f5f1eb;
  --yellow: #fccc62;
  --text-dark: #222222;
  --white: #FFFFFF;
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
} 

html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

body {
      display: flex;
      flex-direction: column;
      font-family: var(--font-primary);
    }

main {
      flex: 1;
    }

body p{
  font-family: var(--font-secondary);
  font-size: 16px;
  line-height: 1.6;
}

body h3{
  font-size: 22px;
}


/* Navbar */
.navbar {
  background: var(--off-white);
  color: var(--black);
  font-size: 18PX;
}

.custom-link .nav-link {
  color: var(--black) !important;
  font-weight: 500;
  margin: 0 12px;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.nav-link.show,
.nav-item.active .nav-link {
  color: var(--black) !important;
}

.custom-link .nav-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--black);
  transition: width 0.3s ease;
}

.custom-link .nav-link:hover::after {
  width: 100%;
}

/* Hero Section */
.hero-section {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: flex-start;
  padding: 80px 30px;
  background: var(--primary-green);
  color: var(--white);
  gap: 40px;
  min-height: 100vh;
  box-sizing: border-box;
}

.hero-text {
  flex: 1 1 300px; 
  width: 100%;
  box-sizing: border-box;
}

.company-name {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.main-heading {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.sub-heading {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.highlight {
  color: var(--yellow);
}

.explore-btn {
  background-color: var(--yellow);
  border: none;
  color: var(--text-dark);
  padding: 12px 30px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 30px;
  transition: transform 0.3s ease;
}

.explore-btn:hover {
  transform: scale(1.1);
}

@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-slide-up {
  opacity: 0;
  animation: fadeSlideUp 1s ease-out forwards;
}

/* Right Side Image */
.hero-images {
  flex: 1 1 300px; 
  width: 50%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: zoomFade 1.5s ease-out forwards, floatY 6s ease-in-out 1.5s infinite;
  border-radius: 1rem;
  box-sizing: border-box;
}

@keyframes zoomFade {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes floatY {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
 
@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
  }

  .hero-text {
    width: 100%;
    text-align: center;
  }

  .main-heading {
    font-size: 2.2rem; /* Adjust only if needed */
  }

  .sub-heading {
    font-size: 1.2rem;
  }

  .explore-btn {
    padding: 10px 24px;
    font-size: 0.95rem;
  }

  .hero-images {
    width: 100%;
    height: 250px; /* Fixes huge image issue */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
  }
}



/* about section */
.about-section {
  background: var(--creamy);
  padding: 80px 0;
}

.common-section-light h2.sub-heading {
  color: var(--primary-green); 
  font-size: 2.0rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.common-section-light p {
  color: var(--text-dark);
  font-size: 1.1rem;
  line-height: 1.8;
}

.about-us-img {
  position: relative;
  z-index: 1;
  border-radius: 30px;
  height: 50%;
  width: 80%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.decorated-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.double-lines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.double-lines::before,
.double-lines::after {
  content: "";
  height: 2px;
  width: 40px;
  background-color: var(--primary-green); 
}

.read-more-btn{
  color: var(--primary-green);
  padding: 12px;
  transition: all 0.3s ease; 
  transform: scale(1);
  border: 2px solid var(--primary-green);
  text-decoration: none;

}

.read-more-btn:hover {
  background-color: var(--primary-green);
  color: var(--white);
  transform: scale(1.1); 
}


/* vision-section */
.vision-section {
  background: var(--creamy);
  padding: 80px 0;
}


.vision-section-img {
  position: relative;
  z-index: 1;
  border-radius: 30px;
  height: 50%;
  width: 80%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

/* impact section */
.impact-section {
  background: var(--off-white);
  padding: 80px 0;
}

.intro-text {
  color: var(--text-dark);
  font-size: 1.1rem;
  max-width: 700px;
  margin: 0 auto 2rem;
  line-height: 1.6;
}

.impact-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

.impact-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.impact-card:hover .impact-img {
  transform: scale(1.05);
}

.quote-text {
  color: var(--primary-green);
  font-style: italic;
  margin-top: 40px;
  font-size: 1.2rem;
}

/* services section */
.services-section {
  background: var(--primary-green);
}

.services-section h2.sub-heading {
  color: var(--yellow); 
  font-size: 2.0rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.services-intro {
  font-size: 1.1rem;
  color: var(--white);
  max-width: 700px;
  margin: 0 auto 30px;
  line-height: 1.6;
}

.service-card {
  background-color: var(--creamy);
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: scale(1.03);
}

.services-img {
  height: 600px;
  width: 200px;
}

.service-card-lowcarbon {
  background-color: var(--creamy);
  border-radius: 12px;
  padding: 20px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.service-card-lowcarbon:hover {
  background-color: #d3be83;
}

.service-card-lowcarbon .card-image img {
  height: 200px;
  width: 200px;
  object-fit: contain;
  filter: brightness(0.9); 
  margin-bottom: 10px;
}

.service-card-lowcarbon .card-text h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--primary-green);
}

.service-card-lowcarbon .card-text p{
  color: var(--text-dark);
}

.service-card-lowcarbon .card-info {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.service-card-lowcarbon:hover .card-info {
  opacity: 1;
  max-height: 200px;
}

.service-btn{
  color: var(--primary-green);
  padding: 12px;
  transition: all 0.3s ease; 
  transform: scale(1);
  border: 2px solid var(--primary-green);
  text-decoration: none;

}

.service-btn:hover {
  background-color: var(--primary-green);
  color: var(--white);
  transform: scale(1.1); 
}

.decorated-container-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.double-lines-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.double-lines-2::before,
.double-lines-2::after {
  content: "";
  height: 2px;
  width: 40px;
  background-color: var(--yellow); 
}

/* blog section */
.blog-section {
  background: var(--off-white);
  color: var(--white);
}

.blog-section h3 {
  color: var(--primary-green); 
} 

.blog-section p {
  color: var(--text-dark);
  font-size: 1.1rem;
  line-height: 1.8;
}

.blog-image{
  height: 200px;
  width: 300px;
}

.blog-section-line{
  border-right: 2px solid var(--primary-green); 
  height: 200px;
}

/* newsletter-section */
.newsletter-section {
  background-color: var(--primary-green);
  padding: 60px 20px;
}

.newsletter-section h2{
  color: var(--yellow);
}

.newsletter-text {
  font-size: 1.1rem;
  margin-bottom: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white);
}

.newsletter-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.newsletter-form input[type="email"] {
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  outline: none;
  width: 300px;
  max-width: 100%;
  color: var(--text-dark);
}

.newsletter-form input::placeholder,{
  color: #222222 !important;
  opacity: 1;
}

.newsletter-form button {
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  background-color: var(--yellow);
  color: var(--text-dark);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter-form button:hover {
  background-color: var(--yellow);
}

/* testimonials */
.testimonials {
  text-align: center;
  padding: 60px 20px;
  background: var(--off-white);
  color: var(--white);
}

.section-header .section-tag {
  color: var(--primary-green);
  font-weight: 600;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.section-header h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.testimonial-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  background: var(--creamy);
  border-radius: 10px;
  padding: 25px;
  max-width: 300px;
  text-align: left;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
}

.card h3 {
  margin: 0;
  font-weight: bold;
}

.card .role {
  color: #777;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.card .review {
  color: #444;
  font-size: 0.95rem;
  line-height: 1.5;
}

.card:hover {
  background-color: var(--primary-green);
}

.card:hover h3,
.card:hover .role,
.card:hover .review,
.card:hover .head {
  color: var(--white);
}

/* contact form */
.hero-contact-form {
  background: var(--creamy);
}

.contact-card {
  background: var(--primary-green);
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-weight: bold;
  color: var(--yellow);
}

.form-subtitle {
  font-size: 0.95rem;
}

.hero-contact-form input,
.hero-contact-form textarea {
  background: #f8f8f8;
  border: 1px solid #ccc;
  color: #333;
}

.hero-contact-form input::placeholder,
.hero-contact-form textarea::placeholder {
  color: #888 !important;
}

.contact-btn {
  background-color: var(--yellow);
  color: var(--text-dark);
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
}

.contact-btn:hover {
  background-color: var(--yellow); 
  color: var(--text-dark);
}

.contact-btn: :active {
  background-color: var(--yellow); 
  color: var(--text-dark);
}



/* Footer */
.footer-section {
  background-color: var(--primary-green);
  color: var(--white);
}

.footer-section a {
  color: var(--yellow);
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-section i {
  color: var(--yellow);
  font-size: 18px;
  transition: color 0.3s ease;
}

.footer-section i:hover {
  color: var(--white);
}